@import 'variables.scss';

::-webkit-scrollbar {
    width: 0;
    display: none;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-display: optional;
    scrollbar-width: none;
}

body,
html {
    background-color: #0c0c0c !important;
    font-size: 14px !important;
    line-height: 1.6 !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased !important;
    text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: #FFF498;
}

a {
    color: inherit;
}
