.header {
    height: 70px;
}

.header--nav-toggle {
    width: 50px;
    height: 50px;
}

.header--nav-toggle span,
.header--nav-toggle::before,
.header--nav-toggle::after {
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #fff
}

.header--nav-toggle::before {
    bottom: 5px;
    width: 23px
}

.header--nav-toggle::after {
    top: 5px;
    width: 23px
}